/* fonts */

@font-face {
    font-family: 'Font-Brands';
    src: url('fonts/fa-brands-400.eot');
    /* IE9 Compat Modes */
    src: url('fonts/fa-brands-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/fa-brands-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/fa-brands-400.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/fa-brands-400.ttf') format('truetype'), /* Safari, Android, iOS */
    url('https://github.com/becodeorg/bxl-Johnson-6-30/blob/main/1.The-Field/Day%2015/Wireframe-02/webfonts/fa-brands-400.svg') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Font-Regular';
    src: url('fonts/fa-regular-400.eot');
    /* IE9 Compat Modes */
    src: url('fonts/fa-regular-400.woff2') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/fa-regular-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/fa-regular-400.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/fa-regular-400.ttf') format('truetype'), /* Safari, Android, iOS */
    url('https://github.com/becodeorg/bxl-Johnson-6-30/blob/main/1.The-Field/Day%2015/Wireframe-02/webfonts/fa-regular-400.svg') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Font-Solid';
    src: url('fonts/fa-solid-900.eot');
    /* IE9 Compat Modes */
    src: url('fonts/fa-solid-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/fa-solid-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/fa-solid-900.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/fa-solid-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('https://github.com/becodeorg/bxl-Johnson-6-30/blob/main/1.The-Field/Day%2015/Wireframe-02/webfonts/fa-solid-900.svg') format('svg');
    /* Legacy iOS */
}

$font-reg: 'Open Sans',
sans-serif;
$font-med: 600;
$font-bold: 700;

/* colors */

$blue: #c6e9f8;
$purple: rgb(89,
76,
218);
$pink: rgb(235,
66,
125);
$grey: rgb(240,
250,
252);
$grey-text: grey;

/* overall styles */

html {
    font-size: 18px;
}

body {
    font-family: $font-reg;
    font-size: 0.85em;
    background: linear-gradient(180deg, #c6e9f8 0%, white 17% 85%, #c6e9f8 100%);
}