// secret comments that don't show in the css file :)

/* comments that can be written in the css file*/

// rules for screens that are smaller than 400 pixels

@media (max-width: 480px) {
    .number-wrapper {
        display: flex;
        justify-content: space-between;
        flex-flow: column;
        align-content: center;
    }
}

/* section 4 mobile */

@media (max-width: 480px) {
    .usp-box{
        width: auto;
        height: auto;
        .usp-icon{
            margin-top:40px;
        }
        h3{
            margin-bottom:5;
        }
        p{
            margin-bottom: 50px;
        }
    }
}

@media (max-width: 480px) {
    .two{
        .two-container{
            display: flex;
            flex-flow: column;
        }
        .box{
            flex:1;
        }
    }    
}

/* section 8 mobile */

@media (max-width: 480px) {
    .eight{
        background-size: cover;
    }
    .pricing-offer{
        flex-flow: column;
    }
    .pricing-container{
        margin: 0 ;
    }
    .pricing-tag{
        padding:10px;
    }
    .pricing-card{
        margin: 50px 20px!important;
    }
}

@media (max-width: 480px) {
    .sectionFive-wrapper {
        justify-self: center;
        align-items: center;
        
        flex-flow: column!important;
        .info{
            width: 100%;
            margin: 0;
        }
        img{
            height: 200px!important;
            width: 100%;
            margin: 0;
            align-self:center;
        }
    }
}



