

.two{
    display: flex;
    justify-content: center; 
}

.text1  {
     display: block;
     align-items: center;
     margin: 250px;
     margin-right: 90px;

    }


.imageSmart{
    margin: 150px;

}

.button{
    display: flex;
    justify-content: center;
    padding-right: 85px;
}

.btn1 {
    background-color:#594CDA ;
    text-align: center;
    color: white;
    border-radius: 2rem;
    margin: 4px 2px;
    padding: 15px 35px;
    border: none;
    text-decoration: none;
    
    
}

.btn2{
    background-color: #EB427D ;
    text-align: center;
    color: white;
    border-radius: 2rem;
    margin: 4px 2px;
    padding: 15px 35px;
    border: none;
    text-decoration: none;
}

.two-container{
    display: flex;
    justify-content: center;
}



