.six{
    width: 80%;
    margin-left:10%;
}
.numbers {
    color: black;
    font-size: 45px;
    font-style: bold;
}

.count {
    color:rgb(43, 39, 39);
    font-size: 10px;
    font-style: bold;
    text-align: center;
}

.number-wrapper {
    display: flex;
    justify-content: space-between;
    
}

